SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_USE_OFFICIAL_API=false
SPOTIFY_OUTPUT_DIR=./downloads
SPOTIFY_FFMPEG_PATH=./bin/ffmpeg.exe
REQUEST_TIMEOUT_SECONDS=30
BILIBILI_CACHE_DIR=./downloads/bilibili
BILIBILI_MP3_BITRATE=320
